@{
    ViewData["Title"] = "Авторизация";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<body>
    <div style="border-radius: 9px;" class="card radius">
        <input type="text" placeholder="Логин" class="radius"/>
        <input type="password" placeholder="Пароль" class="radius"/>
    </div>
</body>