@model NetMarket.ViewModels.EnterViewModel
@{
    ViewData["Title"] = "Авторизация";
}
<head>
    <link rel="stylesheet" href="~/css/authorization.css" />
</head>
<style>
    
</style>

<body class="body-auth">
    <form class="card radius" style="border-radius: 9px" asp-action="Authorization" asp-anti-forgery="true">
        <text class="head"> @ViewData["Title"] </text>
        
        <div class="validation" asp-validation-summary="ModelOnly">
            <ul>
                <li><p></p></li>
            </ul>
        </div>

        <input type="text" style="border-radius: 9px;" placeholder="Логин" asp-for="Login" required />
        <span class="span-login" asp-validation-for="Login"> </span>

        <input type="password" style="border-radius: 9px;" placeholder="Пароль" asp-for="Password" required />
        <span asp-validation-for="Password"> </span>

        <button style="border-radius: 9px;" type="submit" name="form_auth_submit">Войти</button>

        <div class="div-registration">
            <a style="" asp-area="" asp-controller="Account" asp-action="Registration">Зарегистрироваться</a>
        </div>
    </form>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>