@model NetMarket.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}
<head>
    <link rel="stylesheet" href="~/css/registration.css" />
</head>
<body class="body-registration">
    <form class="card radius" style="border-radius: 9px" method="post">
        <text class="head"> @ViewData["Title"] </text>

        <div class="validation" asp-validation-summary="ModelOnly">
            <ul>
                <li></li>
            </ul>
        </div>
        
        <span class="span-login" asp-validation-for="Login"> </span>
        <input type="text" style="border-radius: 9px;" placeholder="Логин" asp-for="Login" required />

        <span class="span-login" asp-validation-for="Email"> </span>
        <input type="text" style="border-radius: 9px;" placeholder="Email" asp-for="Email" required />

        <span class="span-login" asp-validation-for="Password"> </span>
        <input type="password" style="border-radius: 9px;" placeholder="Пароль" asp-for="Password" required />

        <span class="span-login" asp-validation-for="RepeatPassword"> </span>
        <input type="password" style="border-radius: 9px;" placeholder="Повторите пароль" asp-for="RepeatPassword" required />

        <span class="span-login" asp-validation-for="Name"> </span>
        <input id="name" type="text" style="border-radius: 9px;" placeholder="Имя" asp-for="Name" required />

        <span class="span-login" asp-validation-for="Surname"> </span>
        <input type="text" style="border-radius: 9px;" placeholder="Фамилия" asp-for="Surname" required />

        <span class="span-login" asp-validation-for="MiddleName"> </span>
        <input type="text" style="border-radius: 9px;" placeholder="Отчество" asp-for="MiddleName" required />

        <input type="text" style="border-radius: 9px;" placeholder="Номер телефона" asp-for="PhoneNumber"/>

        <button class="form_auth_button" style="border-radius: 9px;" type="submit" name="form_auth_submit">Зарегистрироваться</button>
    </form>
</body>