@model NetMarket.ViewModels.OrderRegistrationViewModel
@{
    ViewData["Title"] = "Заказ оформлен!";
}
<head>
    <link rel="stylesheet" href="~/css/orderRegistrationComplete.css"/>
</head>
<body class="body-orderComplete" style="height: 100%;">
    <div class="div-orderComplete">
        <h1 class="information">Заказ успешно оформлен и отправлен на обработку!</h1>
        <h3 class="thanks">Спасибо, что выбрали нас!</h3>
    </div>
</body>