@model IEnumerable<NetMarket.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Товары";
}
<head>
    <link rel="stylesheet" href="~/css/warehouse.css" />
</head>
<body class="body-warehouse">
    <h3 class="h3">Список тоавров</h3>
    <div class="search">
        <form asp-action="Warehouse" asp-controller="Staff" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Поиск товаров..." name="textSearch">
            <button type="submit"></button>
        </form>
    </div>
    <div class="warehouseContainer">
        <table class="table">
            <tr>
                <th class="text-right">ID</th>
                <th>Название</th>
                <th class="text-right">Цена</th>
                <th class="text-center"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">
                        @item.Id
                    </td>
                    <td class="nameProduct" style="text-decoration: none;">
                        @Html.ActionLink(item.Name + " (" + item.Color + ")", "Edit", new { item.Id }, new { style = "text-decoration:none;"})
                    </td>
                    <td class="text-right priceProduct">
                        @item.Price ₽
                    </td>
                    <td class="text-center">
                        <form asp-action="Warehouse" asp-controller="Staff">
                            @Html.Hidden("idWhichProductMustDelete", item.Id)
                            <input type="submit"
                                   class="buttonDelete"
                                   value="Удалить"/>
                        </form>
                    </td>
                </tr>
            }
        </table>
        <a class="add" style="text-decoration: none;" asp-action="NewProduct" asp-controller="Staff">Добавить товар</a>
    </div>
</body>