.card {
    background-color: #87CEFA;
    font-family: 'Heebo';
    font-size: 1.5em;
    display: flex;
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
    /* ReSharper disable once UnknownCssVendorExtension */
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 19px cyan;
    /* ReSharper disable once CssNotResolved */
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    min-width: 167px;
    max-width: 728px;
}

.radius {
    border: none; /* Параметры рамки */
    padding: 15px; /* Поля вокруг текста */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 19px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    min-width: 128px;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #FFA07A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: none;
    width: 40%;
    background-position: right;
}

    button:hover {
        opacity: 0.8;
    }

.span-error {
    font-size: 27px;
    color: red;
}

.head {
    color: #2F4F4F;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
}

.div-registration {
    display: flex;
}

.div-registration a {
    text-decoration: none;
    align-self: center;
    color: blue;
}

.validation {
    width: 100%;
}

.validation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.validation ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #CD5C5C;
}