.card {
    background-color: #87CEFA;
    font-family: 'Heebo';
    font-size: 1.5em;
    padding: 3em;
    display: flex;
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 1.28em -1em mediumslateblue;
    /* ReSharper disable once CssNotResolved */
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    min-width: 167px;
    max-width: 728px;
}

.radius {
    border: 3px solid #FFA07A; /* Параметры рамки */
    padding: 15px; /* Поля вокруг текста */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 19px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    min-width: 128px;
    outline: none;
}

.textComment {
    width: 100%;
    border-radius: 9px;
    font-size: 24px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 19px 0;
    resize: none;
    outline: none;
}

.textComment::-webkit-scrollbar {
    width: 10px;
    margin: 28px 12px;
}

.textComment::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 9px;
}

.textComment::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: #FFA07A;
}

/* Set a style for all buttons */
button {
    background-color: #FFA07A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: none;
    width: 40%;
    background-position: right;
}

button:hover {
    opacity: 0.8;
}

.span-order {
    font-size: 27px;
    color: red;
}

.head {
    color: #2F4F4F;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
}

.div-orderCheck {
    width: 100%;
    padding: 12px 20px;
    margin: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: #B0E0E6;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 9px;
}

.textOrder {
    width: 50%;
    color: #2F4F4F;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin: 0;
}

.sum {
    width: 50%;
    color: mediumslateblue;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin: 0;
}

.validation {
    width: 100%;
}

.validation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.validation ul li {
    display: block;
    align-self: center;
    color: #CD5C5C;
}